.bookPsychologySkill {
  &__content {
    
    background-color: #fff;
    &__title {
      padding: 15px 15px 0 15px;
      text-transform: uppercase;
      font-size: 2em;
      font-weight: 650;
      margin-bottom: 0;
    }
    &__nav {
      padding: 15px 15px 0 15px;

      li {
        &:hover {
          .nav-link {
            color: orange;
            border: 1px solid orange;
            border-radius: 5px;
          }
        }
        .nav-link {
          color: black;
          font-size: 1.4em;
          margin-right: 10px;
        }
        .nav-link.active {
          border: 1px solid orange;
          border-radius: 5px;
          font-size: 1.4em;
          color: orange;
          font-weight: 700;
          background-color: transparent;
        }
      }
    }
    &__product {
      padding: 0 10px 30px 10px;
      // margin: 30px;
      &__left {
        text-align: center;
      }
      &__right {
        &__button {
          text-align: center;
          
        }
        .slick-next,
        .slick-prev {
          width: 30px;
          height: 30px;
          line-height: 55px;
          z-index: 1;
          border: 1px solid silver;
          border-radius: 50%;
        }
        .slick-next {
          top: 48%;
          right: -10px;
        }
        .slick-prev {
          top: 48%;
          right: -10px;
        }
        .slick-next::before {
          content: url("/public/accest/productOfSchool/chevron-right.svg");
        }
        .slick-prev::before {
          content: url("/public/accest/productOfSchool/chevron-left.svg");
        }
      }
    }
  }
  &__slider {
    &__item {
      display: flex;
      padding: 10px;
      margin: 0px 5px 20px 5px;

      border: 1px solid silver;
      &__img {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 174px;
      }
      &__info {
        width: 55%;
        &__title {
          font-size: 1.7em;
        }
        &__price {
          font-size: 1.6em;
          font-weight: 700;
          color: #c92127;
        }
        &__star {
          display: flex;
        }
      }
    }
  }
}


// Responsive
@media screen and (max-width: 992px) {
  .bookPsychologySkill{
   &__content{
       &__product{
           &__left{
               display: none;
           }
           &__right{
               width: 100%;
           }
       }
   }
  }
}

@media screen and (min-width: 1200px) {
  .bookPsychologySkill__content__product__left__img{
    width: 350px;
  }
}

@media screen and (min-width: 992px) {
  .bookPsychologySkill__content__product__left__img{
    width: 318px;
  }
}
