.footer{
    &__content{
       
        background-color: #ffff;
        &__sign{
            padding: 10px 0;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #9fa7ab;
            
            &__form{
                display: flex;
                border-radius: 10px;
                label{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color: #ffff;
                    font-size: 1rem;
                    text-transform: uppercase;
                }
                &__input{
                    background-color: #ffff;
                    padding: 5px 5px 5px 20px;
                   margin-left: 10px;
                    input{
                        border: none;
                        height: 35px;
                        font-size: 1.2em;
                        margin-right: 10px;
                        width: 200px;
                        &:focus-visible{
                            outline: none;
                        }
                    }
                }
            }
        }
        &__contact{
            padding: 0 20px;
            &__left{
                &__img{
                    width: 301px;
                    height: 49px;
                    margin-bottom: 10px;
                    img{
                        width: 100%;
                        
                    }
                }
                &__text{
                    font-size: 1.3em;
                }
                &__certification{
                    img{
                        width: 100px;
                        height: 35px;
                    }
                }
                &__icons{
                    margin: 10px 0;
                }
                &__app{
                    display: flex;
                    img{
                        width: 110px;
                        margin-right: 10px;
                    }
                }
            }
            &__right{
                font-size: 1.3em;
                    font-weight: 450;
                ul{
                    list-style: none;
                    padding: 0;
                    
                }
                h5{
                    text-transform: capitalize;
                    font-size: 2em;
                    font-weight: 600;
                }
                &__icons{
                    .list-icons{
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        &__item{
                            margin: 0 20px;
                            img{
                                width: 100px;
                                height: 49px;
                            }
                        }
                        
                    }
                    
                }
                
            }
        }
        &__text{
            font-size: 1.4em;
            text-align: center;
            color: #9fa7ab;
        }
    }
}

// Footer responsive
@media screen and (max-width: 992px) {
    .footer{
        &__content{
            &__sign{
                display: block;
               &__form {
                display: block;
                label{
                    display: block;
                    margin-left: 10px;
                }
                &__input{
                    width: 50%;
                    input{
                        width: 60%;
    
                    }
                    button{
                        width: 35%;
                    }
                }
               
               }
            }
            &__contact{
                &__left{
                    width: 100%;
                    &__img{
                     
                       width: 250px;
                    }
                }
                &_right{
                    width: 100%;
                }
            }
        }
      }
}

@media screen and (max-width: 768px) {
    .footer{
        &__content{
            &__sign{
                height: 73px;
                background-color: #F0F0F0;
                &__form{
                   
                    display: none;
                }
               
            }
        }
      }
}

